.loginImage{
   background: url('https://images.unsplash.com/photo-1695568181558-034b7d3e49eb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Ds');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}